*
!scripts
!scripts/*
!scripts/common
!scripts/update-delay/*
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!plots
!plots/*.pdf
!figs
!figs/*.pdf
